@use 'variables' as var;

.link-group {
  &__links {
    display: flex;
    flex-direction: column;
    gap: var.$base;
    margin-block: var.$margin;
    @media (min-width: var.$breakpoint-xs) {
      flex-direction: row;
    }
  }
  @media (min-width: var.$breakpoint-md) {
    text-align: center;
    &__links {
      justify-content: center;
    }
  }
}
