@use 'variables' as var;

.dialog {
  max-width: 1260px;
  max-height: 860px;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var.$modal-radius;
  padding: var.$modal-padding;
  background: linear-gradient(180deg, var.$quaternary 0%, var.$white 100%);
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  @media (min-width: var.$breakpoint-sm) {
    width: 65%;
    height: 78%;
  }
}
.dialog-content {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > * {
      margin-block: 0;
    }
  }
  &__text {
    max-width: 800px;
  }
  &__video {
    &--container {
      width: 100%;
      height: 100%;
      border-radius: var.$modal-radius;
      overflow: hidden;
    }
    &--video {
      width: 100%;
      height: 100%;
    }
  }
}
